In [1]:
import numpy as np
import pandas as pd
import datetime
import matplotlib.pyplot as plt

In [2]:
df_locs = pd.read_csv("../../govdata/govdata_locations.csv")

In [3]:
test_locs = df_locs.sample(frac=0.25, random_state=17)

In [4]:
train_locs = df_locs.loc[~df_locs.index.isin(test_locs.index)]

In [6]:
test_locs.reset_index(inplace=True, drop=True)
test_locs.to_csv("../../govdata/test_locations.csv", index=False)
train_locs.reset_index(inplace=True, drop=True)
train_locs.to_csv("../../govdata/train_locations.csv", index=False)

In [89]:
train_locs = train_locs['Monitor ID'].to_list()
test_locs = test_locs['Monitor ID'].to_list()

In [90]:
df = pd.read_csv("../../govdata/govdata_1H_20180501_20201101.csv")

In [91]:
df = df[df['timestamp_round'].str.contains('2019')]

In [95]:
df

,monitor_id,timestamp_round,AT,RH,WD,WS,pm10,pm25
0,NehruNagar_DPCC,2019-01-01 00:00:00+05:30,9.38,87.00,167.32,0.15,903.25,689.50
1,NehruNagar_DPCC,2019-01-01 01:00:00+05:30,8.70,89.93,252.92,0.20,807.25,596.00
2,NehruNagar_DPCC,2019-01-01 02:00:00+05:30,8.38,92.65,222.70,0.30,707.25,524.50
3,NehruNagar_DPCC,2019-01-01 03:00:00+05:30,8.92,86.12,211.50,0.40,623.25,462.25
4,NehruNagar_DPCC,2019-01-01 04:00:00+05:30,8.20,89.32,207.95,0.25,510.25,370.50
...,...,...,...,...,...,...,...,...
61315,Rohini_DPCC,2019-12-31 19:00:00+05:30,9.40,83.25,336.40,0.62,548.00,432.75
61316,Rohini_DPCC,2019-12-31 20:00:00+05:30,8.65,88.10,149.20,0.38,NaN,731.50
61317,Rohini_DPCC,2019-12-31 21:00:00+05:30,7.95,86.35,285.95,0.60,NaN,807.50
61318,Rohini_DPCC,2019-12-31 22:00:00+05:30,7.65,89.45,104.10,0.53,NaN,787.75
61319,Rohini_DPCC,2019-12-31 23:00:00+05:30,7.90,86.48,24.85,0.83,668.00,765.50

In [93]:
df_list = []
for locs in test_locs:
    df_list.append(df[df['monitor_id']==locs])
df = pd.concat(df_list)

In [94]:
df.reset_index(inplace=True, drop=True)

In [96]:
df.to_csv("../../govdata/test.csv", index=False)