In [1]:
import pandas as pd

insta = pd.read_csv('../insta_data.csv')
insta['dt_round'] = pd.to_datetime(insta['dt_round'])
insta['datetime'] = pd.to_datetime(insta['datetime'])
insta['dt_round_2'] = insta['datetime'].dt.round('60min')
insta.head()

,filename,datetime,location,file_format,light/dark,dt_round,dt_round_2
0,50294736_435828830291236_2030158088675541642_n,2019-02-04 03:48:43+00:00,new delhi,jpg,NaN,2019-02-04 03:45:00+00:00,2019-02-04 04:00:00+00:00
1,23279786_148197742578856_6378254909640278016_n,2017-11-08 13:24:15+00:00,NaN,jpg,NaN,2017-11-08 13:30:00+00:00,2017-11-08 13:00:00+00:00
2,23416386_1840710242870758_1418351604486111232_n,2017-11-08 13:24:15+00:00,NaN,jpg,NaN,2017-11-08 13:30:00+00:00,2017-11-08 13:00:00+00:00
3,23279242_754613681413241_2636689794633039872_n,2017-11-08 12:30:04+00:00,NaN,jpg,NaN,2017-11-08 12:30:00+00:00,2017-11-08 13:00:00+00:00
4,23421744_157913204814458_5150676316399337472_n,2017-11-11 02:39:00+00:00,NaN,jpg,NaN,2017-11-11 02:45:00+00:00,2017-11-11 03:00:00+00:00

In [2]:
insta['dt_round_2'] = insta['dt_round_2'].dt.tz_convert(None)
insta['dt_round_2'] = insta['dt_round_2'].dt.tz_localize('Asia/Kolkata')
insta.head()

,filename,datetime,location,file_format,light/dark,dt_round,dt_round_2
0,50294736_435828830291236_2030158088675541642_n,2019-02-04 03:48:43+00:00,new delhi,jpg,NaN,2019-02-04 03:45:00+00:00,2019-02-04 04:00:00+05:30
1,23279786_148197742578856_6378254909640278016_n,2017-11-08 13:24:15+00:00,NaN,jpg,NaN,2017-11-08 13:30:00+00:00,2017-11-08 13:00:00+05:30
2,23416386_1840710242870758_1418351604486111232_n,2017-11-08 13:24:15+00:00,NaN,jpg,NaN,2017-11-08 13:30:00+00:00,2017-11-08 13:00:00+05:30
3,23279242_754613681413241_2636689794633039872_n,2017-11-08 12:30:04+00:00,NaN,jpg,NaN,2017-11-08 12:30:00+00:00,2017-11-08 13:00:00+05:30
4,23421744_157913204814458_5150676316399337472_n,2017-11-11 02:39:00+00:00,NaN,jpg,NaN,2017-11-11 02:45:00+00:00,2017-11-11 03:00:00+05:30

In [3]:
insta['location'].unique()

array(['new delhi', nan, 'Indira Gandhi International Airport',
       'Times Internet Udyog Vihar', 'delhi', "humayun's tomb",
       "Hall of Girls' Residence , Jamia Millia Islamia.",
       'kashmiri gate', 'presidential palace', 'gurgram', 'noida',
       'red fort', 'yamuna ghat', 'india gate', 'indira gandhi airport',
       'moti bagh', 'gurugram', 'rajpath',
       'Central Secreteriat Sports Ground, Vinay Marg, Chanakyapuri, New Delhi',
       'qutub minar', 'Rajpath, Raisina Hill, India Gate', 'paharganj',
       'Shadipur Metro Station', 'jnu campus', 'mayur vihar', 'dwarka',
       'anand Vihar isbt', 'c.r. park', 'Kailash Colony', 'jama masjid',
       'taj palace', 'bijay mandal fort', 'Gwal Pahari Valley View Point',
       'CWG Village, Akshardham', 'mehrauli', 'gurgaon',
       'east of kailash', 'greater india place, noida',
       'jantar mantar, connaught place', 'connaught place',
       'Shivalik, Malvia Nagar, New Delhi', 'Tughlakabad Fort',
       'west delhi', 'nerala, delhi', 'the leela palace, new delhi',
       'Gurudwara Shri Bangla Sahib', 'lodhi garden', 'yamuna river',
       'The Leela Ambience Convention Hotel Delhi',
       'Mahamaya Flyover - Noida', 'Sanjay Van', 'delhi metro pink line',
       'delhi metro', 'Shriram Bharatiya Kala Kendra',
       'nanak piao gurudwara', 'old delhi', 'chattarpur metro station',
       'bahai temple', 'aravali biodiversity park',
       'Aya Nagar, New Delhi - 47', 'The Claridges Hotels & Resorts',
       'delhi golf club', 'Purana Qila', 'siri fort auditorium',
       'Pragati Maidan', 'south ext.-2', 'lajpath nagar',
       'Noida sector 15 metro station', 'hauz khas', 'Isa Khan Tomb',
       'Green Park, New Delhi, 110016', 'Lodhi Garden', 'golden triangle',
       'DND Flyover Noida', 'Kalka Mandir, Delhi', 'Nirankari Sarovar',
       'bangla sahib', 'Supertech Capetown Noida', 'nehru place',
       'Gurudwara Sri Rakab Ganj Sahib', 'saket', 'Veer Bazaar-Mukundpur',
       'Eastern Peripheral expressway',
       'JLN stadium from Jungpura flyover', 'JLN Stadium, New.Delhi',
       'JLN stadium', 'Rashtrapati Bhavan, Delhi', 'Okhla bird sanctuary',
       'rohini, delhi', 'Le meridien', 'rashtrapati bhavan',
       'safdargunj tomb', 'Barapulla Flyover', 'HKV',
       'sikanderpur, gurugram', 'laxmi nagar',
       'Geeta Colony Setu Road, Rajghat',
       'Rajpath, India Gate, New Delhi', "Indian President's Estate",
       'India Gate', 'Vijay Chowk, Raisina Hill, New Delhi',
       'The Leela Palace New Delhi', 'Observer Research Foundation',
       'Rohini, Delhi', 'CP', "Humayun's tomb", 'Hyatt Regency Delhi',
       'Jhandewalan Devi Mandir', 'Vasant Kunj', 'Akshardham Temple',
       'O. P. Jindal Global University', 'Sultan Garhi Tomb',
       'Shahpur Jat Market', 'Jamali Kamali', 'khan market',
       'Safdarjung Tomb, New Delhi', 'Rashtrapati Bhavan',
       'IFFCO Chowk Metro Station',
       'Signature Bridge Delhi at Yamuna River Wazirabad in North East Delhi',
       'dlf emporio', 'Ashoka Garden', 'Barakhamba Road C.p',
       'Indirapuram', 'dlf cyberhub', 'Shivaji Stadium',
       'nirman vihar metro station', 'karol bagh', 'delhi 6',
       'wave city center', 'chattarpur', 'Nehru stadium',
       'Doordarshan, Mandi House', 'wazirpur',
       'Lady Hardinge Medical College', 'Rao Tula Ram Flyover',
       'delhi cant', 'Dwarka Mor metro station', 'pahargunj',
       'nehu place', 'barapula', 'Paschim Vihar West metro station',
       'Cyber Hub Gurgaon', 'Jasola District Centre', 'South ext.-2',
       'netaji subhash place', 'green park', 'vasant vihar',
       'azadpur metro station', 'Delhi-Akshardham mandir',
       'Cirrus9, Rooftop Bar At The Oberoi, Delhi', 'DND Flyway',
       'Delhi Pritampura', 'Okhla Industrial Area III',
       'Chawri Bajar Delhi - 110006', 'DLF One Horizon Center',
       'delhi junction railway station', 'chandni chowk',
       'defence colony'], dtype=object)

In [4]:
insta.groupby(['location']).count().sort_values(by=['filename']).tail(25)

,filename,datetime,file_format,light/dark,dt_round,dt_round_2
location,,,,,,
DND Flyway,5,5,5,0,5,5
Purana Qila,6,6,0,0,6,6
"Rajpath, Raisina Hill, India Gate",6,6,0,0,6,6
lodhi garden,8,8,3,0,8,8
saket,9,9,0,0,9,9
nehu place,9,9,0,0,9,9
defence colony,10,10,10,0,10,10
jama masjid,11,11,0,0,11,11
Delhi Pritampura,11,11,11,0,11,11
noida,12,12,1,0,12,12
yamuna river,12,12,10,0,12,12
chandni chowk,12,12,12,0,12,12
Chawri Bajar Delhi - 110006,13,13,13,0,13,13
"Cirrus9, Rooftop Bar At The Oberoi, Delhi",16,16,16,0,16,16
Okhla Industrial Area III,17,17,17,0,17,17
Nehru stadium,26,26,24,0,26,26
DLF One Horizon Center,28,28,28,0,28,28
new delhi,30,30,1,0,30,30
gurgaon,32,32,24,0,32,32
old delhi,32,32,23,0,32,32
india gate,33,33,1,0,33,33
humayun's tomb,45,45,37,0,45,45
delhi,51,51,41,0,51,51
delhi junction railway station,54,54,54,0,54,54
indira gandhi airport,71,71,62,0,71,71

In [17]:
poll = pd.read_csv('../combined_del_pol.csv')
poll['From Date'] = pd.to_datetime(poll['From Date'],dayfirst=True)
poll['To Date'] = pd.to_datetime(poll['To Date'],dayfirst=True)
poll.head()

,From Date,To Date,Mandir Marg,Sonia Vihar,IGI Airport (T3),Lodhi Road,Major Dhyan Chand National Stadium,ITO,CRRI Mathura Road,Aya Nagar,Jawaharlal Nehru Stadium,Wazirpur,Nehru Nagar,Sri Aurobindo Marg,Sector - 125,Sector - 62
0,2017-10-01 00:00:00,2017-10-01 01:00:00,91.5,None,87.22,120.33,None,None,124.37,186.01,None,None,None,None,None,2.24
1,2017-10-01 01:00:00,2017-10-01 02:00:00,112,None,None,140.76,None,None,131.45,161.25,None,None,None,None,127,16.95
2,2017-10-01 02:00:00,2017-10-01 03:00:00,106.17,None,99.77,101.95,None,None,164.96,132.41,None,None,None,None,None,18.69
3,2017-10-01 03:00:00,2017-10-01 04:00:00,94.25,None,50.66,63.41,None,None,127.18,None,None,None,None,None,None,15.84
4,2017-10-01 04:00:00,2017-10-01 05:00:00,109.33,None,47.54,86.11,None,None,None,None,None,None,None,None,None,16.74

In [18]:
poll['From Date'] = poll['From Date'].dt.tz_localize('Asia/Kolkata')
poll['To Date'] = poll['To Date'].dt.tz_localize('Asia/Kolkata')
poll.head()

,From Date,To Date,Mandir Marg,Sonia Vihar,IGI Airport (T3),Lodhi Road,Major Dhyan Chand National Stadium,ITO,CRRI Mathura Road,Aya Nagar,Jawaharlal Nehru Stadium,Wazirpur,Nehru Nagar,Sri Aurobindo Marg,Sector - 125,Sector - 62
0,2017-10-01 00:00:00+05:30,2017-10-01 01:00:00+05:30,91.5,None,87.22,120.33,None,None,124.37,186.01,None,None,None,None,None,2.24
1,2017-10-01 01:00:00+05:30,2017-10-01 02:00:00+05:30,112,None,None,140.76,None,None,131.45,161.25,None,None,None,None,127,16.95
2,2017-10-01 02:00:00+05:30,2017-10-01 03:00:00+05:30,106.17,None,99.77,101.95,None,None,164.96,132.41,None,None,None,None,None,18.69
3,2017-10-01 03:00:00+05:30,2017-10-01 04:00:00+05:30,94.25,None,50.66,63.41,None,None,127.18,None,None,None,None,None,None,15.84
4,2017-10-01 04:00:00+05:30,2017-10-01 05:00:00+05:30,109.33,None,47.54,86.11,None,None,None,None,None,None,None,None,None,16.74

In [8]:
insta['ppm'] = None
insta.head()

,filename,datetime,location,file_format,light/dark,dt_round,dt_round_2,ppm
0,50294736_435828830291236_2030158088675541642_n,2019-02-04 03:48:43+00:00,new delhi,jpg,NaN,2019-02-04 03:45:00+00:00,2019-02-04 04:00:00+05:30,None
1,23279786_148197742578856_6378254909640278016_n,2017-11-08 13:24:15+00:00,NaN,jpg,NaN,2017-11-08 13:30:00+00:00,2017-11-08 13:00:00+05:30,None
2,23416386_1840710242870758_1418351604486111232_n,2017-11-08 13:24:15+00:00,NaN,jpg,NaN,2017-11-08 13:30:00+00:00,2017-11-08 13:00:00+05:30,None
3,23279242_754613681413241_2636689794633039872_n,2017-11-08 12:30:04+00:00,NaN,jpg,NaN,2017-11-08 12:30:00+00:00,2017-11-08 13:00:00+05:30,None
4,23421744_157913204814458_5150676316399337472_n,2017-11-11 02:39:00+00:00,NaN,jpg,NaN,2017-11-11 02:45:00+00:00,2017-11-11 03:00:00+05:30,None

In [42]:
# delhi junction railway station = mandir marg, sonia vihar
# Indira Gandhi International Airport, indira gandhi airport = airport
# humayun's tomb, Humayun's tomb = lodhi road/ major dhyan chand
# india gate, India Gate, Rajpath, India Gate, New Delhi, Rajpath, Raisina Hill, rajpath India Gate, = major dhyan chand
# old delhi = ito delhi
# gurgaon/gurgram, Cyber Hub Gurgaon = aya nagar, delhi
# DLF One Horizon Center = aya nagar, delhi
# Nehru stadium = lodhi road
# Okhla Industrial Area III, okhla bird sanctuary = CRRI mathura road
# Cirrus9, Rooftop Bar At The Oberoi, Delhi = lodhi road/JLN stadium
# Chawri Bajar Delhi - 110006 = ito delhi
# chandni chowk = ito delhi
# yamuna river = ito delhi
# noida = sector-62 noida + sector 125-noida
# pritampura = wazirpur
# jama masjid = ito delhi
# defence colony = nehru nagar, jln
# nehu place, nehru place = nehru nagar/crri mathura
# saket = sri aurobindo marg
# lodhi garden = lodhi road
# rajpath = major dhyan chand
# Purana Qila = major dhyan chand
# DND flyway = sector 125 - noida
# connaught place = mandir marg
# others = avg(from above)

def avg_pm(row_list):
    sum_lst = 0
    count = 0
    for i in row_list[2:]:
        if (i is not None) and (i != "") and (i != "None"):
            sum_lst += float(i)
            count += 1
    if count == 0:
        return None
    return sum_lst/count

def two_pm(val1, val2):
    pm = None
    if (val1 is not None) and (val1 != "") and (val1 != "None"):
        if (val2 is not None) and (val2 != "") and (val2 != "None"):
            pm = (float(val1)+float(val2))/2
        else:
            pm = float(val1)
    else:
        if (val2 is not None) and (val2 != "") and (val2 != "None"):
            pm = float(val2)
    return pm

def one_pm(val):
    pm = None
    if (val is not None) and (val != "") and (val != "None"):
        pm = float(val)
    return pm

drop_idx = []
for index, row in insta.iterrows():
    loc = str(row['location']).lower()
    time = row['dt_round_2']
    x = poll.loc[poll['From Date'] == time]
    pm = None
    if x.empty:
        drop_idx.append(index)
        continue
    elif loc == "delhi junction railway station":
        pm = two_pm(x.iloc[0]["Mandir Marg"],x.iloc[0]["Sonia Vihar"])
    elif "airport" in loc:
        pm = one_pm(x.iloc[0]["IGI Airport (T3)"])
    elif "humayun" in loc:
        pm = two_pm(x.iloc[0]["Major Dhyan Chand National Stadium"],x.iloc[0]["Lodhi Road"])
    elif ("india gate" in loc) or ("rajpath" in loc) or ("qila" in loc):
        pm = one_pm(x.iloc[0]["Major Dhyan Chand National Stadium"])
    elif ("gurgaon" in loc) or ("gurugram" in loc) or ("horizon center" in loc) or ("cyberhub" in loc):
        pm = one_pm(x.iloc[0]["Aya Nagar"])
    elif ("nehru stadium" == loc) or ("jln stadium" in loc) or ("lodhi" in loc):
        pm = one_pm(x.iloc[0]["Lodhi Road"])
    elif "okhla" in loc:
        pm = one_pm(x.iloc[0]["CRRI Mathura Road"])
    elif "cirrus9" in loc:
        pm = two_pm(x.iloc[0]["Jawaharlal Nehru Stadium"],x.iloc[0]["Lodhi Road"])
    elif (loc == "old delhi") or ("chawri" in loc) or ("chandni" in loc) or ("yamuna" in loc) or ("jama masjid" in loc):
        pm = one_pm(x.iloc[0]["ITO"])
    elif "noida" in loc:
        pm = two_pm(x.iloc[0]["Sector - 125"],x.iloc[0]["Sector - 62"])
    elif "pritampura" in loc:
        pm = one_pm(x.iloc[0]["Wazirpur"])
    elif "defence colony" in loc:
        pm = two_pm(x.iloc[0]["Nehru Nagar"],x.iloc[0]["Jawaharlal Nehru Stadium"])
    elif ("nehu place" in loc) or ("nehru place" in loc):
        pm = two_pm(x.iloc[0]["Nehru Nagar"],x.iloc[0]["CRRI Mathura Road"])
    elif "saket" in loc:
        pm = one_pm(x.iloc[0]["Sri Aurobindo Marg"])
    elif "dnd" in loc:
        pm = one_pm(x.iloc[0]["Sector - 125"])
    elif "connaught" in loc:
        pm = one_pm(x.iloc[0]["Mandir Marg"])
    if pm is None:
        pm = avg_pm(list(x.iloc[0]))
    insta.set_value(index,'ppm',pm)

print(drop_idx)
insta.head()

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:99: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

[224, 225, 226, 227, 228, 229, 373, 374, 375, 376, 377, 378, 379, 380, 400, 446, 499, 500, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571, 572, 573, 574, 575, 576, 577, 603, 604, 605, 606, 607, 608, 609, 610, 612, 613, 656, 747, 748, 749, 750, 751, 752, 753, 754, 755, 756, 757, 758, 759, 760, 761, 762, 763, 764, 765, 766, 767, 768, 769, 770, 771, 772, 773, 774, 775, 776, 777, 778, 779, 780, 781, 782, 783, 784, 785, 786, 787, 788, 789, 790, 791, 792, 793, 794, 795, 796, 797, 798, 799, 800, 801, 802, 803, 804, 805, 806, 807, 808, 809, 810, 811, 812, 813, 814, 815, 816, 817, 818, 819, 820, 821, 822, 823, 1300, 1301, 1302, 1303, 1304, 1305, 1306, 1307, 1308, 1309, 1310, 1311, 1312, 1313, 1314, 1315, 1364, 1365, 1366, 1367, 1368, 1369, 1370, 1371, 1372, 1373, 1374, 1375, 1376, 1377, 1378, 1379, 1380, 1381, 1382, 1383, 1384, 1385, 1386, 1387, 1388, 1389, 1390, 1391, 1392, 1393]

,filename,datetime,location,file_format,light/dark,dt_round,dt_round_2,ppm
0,50294736_435828830291236_2030158088675541642_n,2019-02-04 03:48:43+00:00,new delhi,jpg,NaN,2019-02-04 03:45:00+00:00,2019-02-04 04:00:00+05:30,131.565
1,23279786_148197742578856_6378254909640278016_n,2017-11-08 13:24:15+00:00,NaN,jpg,NaN,2017-11-08 13:30:00+00:00,2017-11-08 13:00:00+05:30,523.673
2,23416386_1840710242870758_1418351604486111232_n,2017-11-08 13:24:15+00:00,NaN,jpg,NaN,2017-11-08 13:30:00+00:00,2017-11-08 13:00:00+05:30,523.673
3,23279242_754613681413241_2636689794633039872_n,2017-11-08 12:30:04+00:00,NaN,jpg,NaN,2017-11-08 12:30:00+00:00,2017-11-08 13:00:00+05:30,523.673
4,23421744_157913204814458_5150676316399337472_n,2017-11-11 02:39:00+00:00,NaN,jpg,NaN,2017-11-11 02:45:00+00:00,2017-11-11 03:00:00+05:30,290.343
5,51198988_355397075054377_5019641374815263947_n,2019-02-05 14:53:35+00:00,NaN,jpg,NaN,2019-02-05 15:00:00+00:00,2019-02-05 15:00:00+05:30,108.804
6,50099277_167553637558240_7730499617623994488_n,2019-02-04 02:44:08+00:00,Indira Gandhi International Airport,jpg,NaN,2019-02-04 02:45:00+00:00,2019-02-04 03:00:00+05:30,171.27
7,49913257_113330583089235_841595261123193185_n,2019-01-23 18:04:41+00:00,NaN,jpg,NaN,2019-01-23 18:00:00+00:00,2019-01-23 18:00:00+05:30,150.923
8,49542433_1155606927950825_6038795111288348593_n,2019-01-23 03:50:30+00:00,Times Internet Udyog Vihar,jpg,NaN,2019-01-23 03:45:00+00:00,2019-01-23 04:00:00+05:30,87.9621
9,49991714_2043054882453850_8963023353683177368_n,2019-01-18 05:43:39+00:00,delhi,jpg,NaN,2019-01-18 05:45:00+00:00,2019-01-18 06:00:00+05:30,264.876
10,49913278_130880537940142_1371110230384623804_n,2019-01-13 14:51:27+00:00,humayun's tomb,jpg,NaN,2019-01-13 14:45:00+00:00,2019-01-13 15:00:00+05:30,160.88
11,49674426_165788511060098_1811899467230933893_n,2019-01-19 13:57:20+00:00,"Hall of Girls' Residence , Jamia Millia Islamia.",jpg,NaN,2019-01-19 14:00:00+00:00,2019-01-19 14:00:00+05:30,89.7086
12,50221243_764279940631653_8572492637524841816_n,2019-01-11 05:57:14+00:00,kashmiri gate,jpg,NaN,2019-01-11 06:00:00+00:00,2019-01-11 06:00:00+05:30,286.669
13,33111051_588800588157670_106150318584102912_n,2018-10-21 05:29:55+00:00,presidential palace,jpg,NaN,2018-10-21 05:30:00+00:00,2018-10-21 05:00:00+05:30,202.745
14,43334332_548179492308876_6076808572150598356_n,2018-10-21 05:29:55+00:00,presidential palace,jpg,NaN,2018-10-21 05:30:00+00:00,2018-10-21 05:00:00+05:30,202.745
15,43641324_173561880216863_8887864598804783859_n,2018-10-21 05:29:55+00:00,presidential palace,jpg,NaN,2018-10-21 05:30:00+00:00,2018-10-21 05:00:00+05:30,202.745
16,47585855_2258519227526743_8288301544979003830_n,2019-01-05 11:49:33+00:00,NaN,jpg,NaN,2019-01-05 11:45:00+00:00,2019-01-05 12:00:00+05:30,171.511
17,47584888_1936677879960412_4711025511438657930_n,2019-01-05 01:51:45+00:00,gurgram,jpg,NaN,2019-01-05 01:45:00+00:00,2019-01-05 02:00:00+05:30,362.711
18,47691928_2377887122284056_1240473084924541961_n,2018-12-31 04:07:12+00:00,noida,jpg,NaN,2018-12-31 04:00:00+00:00,2018-12-31 04:00:00+05:30,387.645
19,47251926_2275121872725141_8876487587024403325_n,2018-12-30 16:32:30+00:00,red fort,jpg,NaN,2018-12-30 16:30:00+00:00,2018-12-30 17:00:00+05:30,137.719
20,47690482_339623213294303_4586153246415710373_n,2018-12-30 11:14:52+00:00,NaN,jpg,NaN,2018-12-30 11:15:00+00:00,2018-12-30 11:00:00+05:30,256.391
21,47690165_359358741520957_2102260448054724285_n,2018-12-30 05:15:24+00:00,yamuna ghat,jpg,NaN,2018-12-30 05:15:00+00:00,2018-12-30 05:00:00+05:30,407.25
22,47691126_267151950645401_1879503487950769794_n,2018-12-27 11:34:51+00:00,delhi,jpg,NaN,2018-12-27 11:30:00+00:00,2018-12-27 12:00:00+05:30,153.669
23,47413444_549122462270640_7977367395053665105_n,2018-12-26 13:38:23+00:00,NaN,jpg,NaN,2018-12-26 13:45:00+00:00,2018-12-26 14:00:00+05:30,99.45
24,47253026_157163518610448_2136220676494070664_n,2018-12-24 06:04:33+00:00,NaN,jpg,NaN,2018-12-24 06:00:00+00:00,2018-12-24 06:00:00+05:30,389.712
25,46998510_206521503586037_3878657321517107544_n,2018-12-13 12:18:04+00:00,NaN,jpg,NaN,2018-12-13 12:15:00+00:00,2018-12-13 12:00:00+05:30,87.6686
26,45373965_1982156752085106_8697580131113317824_n,2018-12-12 13:23:06+00:00,NaN,jpg,NaN,2018-12-12 13:30:00+00:00,2018-12-12 13:00:00+05:30,119.989
27,46067493_371960743551181_4040623030405411941_n,2018-12-12 05:23:02+00:00,india gate,jpg,NaN,2018-12-12 05:30:00+00:00,2018-12-12 05:00:00+05:30,276.75
28,47219622_261220294574793_6193328775400110353_n,2018-12-10 12:03:31+00:00,NaN,jpg,NaN,2018-12-10 12:00:00+00:00,2018-12-10 12:00:00+05:30,240.144
29,45708790_321772681751115_7004312453055134850_n,2018-12-04 11:45:49+00:00,NaN,jpg,NaN,2018-12-04 11:45:00+00:00,2018-12-04 12:00:00+05:30,181.052
...,...,...,...,...,...,...,...,...
2354,41405288_1371374499660316_6484544909150781440_...,2018-09-13 20:19:46+00:00,NaN,jpg,NaN,2018-09-13 20:15:00+00:00,2018-09-13 20:00:00+05:30,33.5785
2355,41405288_1371374499660316_6484544909150781440_...,2018-09-13 20:19:46+00:00,NaN,jpg,NaN,2018-09-13 20:15:00+00:00,2018-09-13 20:00:00+05:30,33.5785
2356,41405288_1371374499660316_6484544909150781440_...,2018-09-13 20:19:46+00:00,NaN,jpg,NaN,2018-09-13 20:15:00+00:00,2018-09-13 20:00:00+05:30,33.5785
2357,41405288_1371374499660316_6484544909150781440_...,2018-09-13 20:19:46+00:00,NaN,jpg,NaN,2018-09-13 20:15:00+00:00,2018-09-13 20:00:00+05:30,33.5785
2358,41405288_1371374499660316_6484544909150781440_...,2018-09-13 20:19:46+00:00,NaN,jpg,NaN,2018-09-13 20:15:00+00:00,2018-09-13 20:00:00+05:30,33.5785
2359,41405288_1371374499660316_6484544909150781440_...,2018-09-13 20:19:46+00:00,NaN,jpg,NaN,2018-09-13 20:15:00+00:00,2018-09-13 20:00:00+05:30,33.5785
2360,41405288_1371374499660316_6484544909150781440_...,2018-09-13 20:19:46+00:00,NaN,jpg,NaN,2018-09-13 20:15:00+00:00,2018-09-13 20:00:00+05:30,33.5785
2361,41405288_1371374499660316_6484544909150781440_...,2018-09-13 20:19:46+00:00,NaN,jpg,NaN,2018-09-13 20:15:00+00:00,2018-09-13 20:00:00+05:30,33.5785
2362,41405288_1371374499660316_6484544909150781440_...,2018-09-13 20:19:46+00:00,NaN,jpg,NaN,2018-09-13 20:15:00+00:00,2018-09-13 20:00:00+05:30,33.5785
2363,41405288_1371374499660316_6484544909150781440_...,2018-09-13 20:19:46+00:00,NaN,jpg,NaN,2018-09-13 20:15:00+00:00,2018-09-13 20:00:00+05:30,33.5785
2364,41405288_1371374499660316_6484544909150781440_...,2018-09-13 20:19:46+00:00,NaN,jpg,NaN,2018-09-13 20:15:00+00:00,2018-09-13 20:00:00+05:30,33.5785
2365,41405288_1371374499660316_6484544909150781440_...,2018-09-13 20:19:46+00:00,NaN,jpg,NaN,2018-09-13 20:15:00+00:00,2018-09-13 20:00:00+05:30,33.5785
2366,41405288_1371374499660316_6484544909150781440_...,2018-09-13 20:19:46+00:00,NaN,jpg,NaN,2018-09-13 20:15:00+00:00,2018-09-13 20:00:00+05:30,33.5785
2367,41405288_1371374499660316_6484544909150781440_...,2018-09-13 20:19:46+00:00,NaN,jpg,NaN,2018-09-13 20:15:00+00:00,2018-09-13 20:00:00+05:30,33.5785
2368,41405288_1371374499660316_6484544909150781440_...,2018-09-13 20:19:46+00:00,NaN,jpg,NaN,2018-09-13 20:15:00+00:00,2018-09-13 20:00:00+05:30,33.5785
2369,41405288_1371374499660316_6484544909150781440_...,2018-09-13 20:19:46+00:00,NaN,jpg,NaN,2018-09-13 20:15:00+00:00,2018-09-13 20:00:00+05:30,33.5785
2370,41405288_1371374499660316_6484544909150781440_...,2018-09-13 20:19:46+00:00,NaN,jpg,NaN,2018-09-13 20:15:00+00:00,2018-09-13 20:00:00+05:30,33.5785
2371,41405288_1371374499660316_6484544909150781440_...,2018-09-13 20:19:46+00:00,NaN,jpg,NaN,2018-09-13 20:15:00+00:00,2018-09-13 20:00:00+05:30,33.5785
2372,41405288_1371374499660316_6484544909150781440_...,2018-09-13 20:19:46+00:00,NaN,jpg,NaN,2018-09-13 20:15:00+00:00,2018-09-13 20:00:00+05:30,33.5785
2373,41405288_1371374499660316_6484544909150781440_...,2018-09-13 20:19:46+00:00,NaN,jpg,NaN,2018-09-13 20:15:00+00:00,2018-09-13 20:00:00+05:30,33.5785
2374,41405288_1371374499660316_6484544909150781440_...,2018-09-13 20:19:46+00:00,NaN,jpg,NaN,2018-09-13 20:15:00+00:00,2018-09-13 20:00:00+05:30,33.5785
2375,41405288_1371374499660316_6484544909150781440_...,2018-09-13 20:19:46+00:00,NaN,jpg,NaN,2018-09-13 20:15:00+00:00,2018-09-13 20:00:00+05:30,33.5785
2376,41405288_1371374499660316_6484544909150781440_...,2018-09-13 20:19:46+00:00,NaN,jpg,NaN,2018-09-13 20:15:00+00:00,2018-09-13 20:00:00+05:30,33.5785
2377,41405288_1371374499660316_6484544909150781440_...,2018-09-13 20:19:46+00:00,NaN,jpg,NaN,2018-09-13 20:15:00+00:00,2018-09-13 20:00:00+05:30,33.5785
2378,41405288_1371374499660316_6484544909150781440_...,2018-09-13 20:19:46+00:00,NaN,jpg,NaN,2018-09-13 20:15:00+00:00,2018-09-13 20:00:00+05:30,33.5785
2379,41405288_1371374499660316_6484544909150781440_...,2018-09-13 20:19:46+00:00,NaN,jpg,NaN,2018-09-13 20:15:00+00:00,2018-09-13 20:00:00+05:30,33.5785
2380,41405288_1371374499660316_6484544909150781440_...,2018-09-13 20:19:46+00:00,NaN,jpg,NaN,2018-09-13 20:15:00+00:00,2018-09-13 20:00:00+05:30,33.5785
2381,41405288_1371374499660316_6484544909150781440_...,2018-09-13 20:19:46+00:00,NaN,jpg,NaN,2018-09-13 20:15:00+00:00,2018-09-13 20:00:00+05:30,33.5785
2382,41405288_1371374499660316_6484544909150781440_...,2018-09-13 20:19:46+00:00,NaN,jpg,NaN,2018-09-13 20:15:00+00:00,2018-09-13 20:00:00+05:30,33.5785
2383,41405288_1371374499660316_6484544909150781440_...,2018-09-13 20:19:46+00:00,NaN,jpg,NaN,2018-09-13 20:15:00+00:00,2018-09-13 20:00:00+05:30,33.5785

In [46]:
insta.iloc[806]

filename       DelhiRoadPhotos76/IMG_20170712_152536640
datetime                      2017-07-12 16:00:00+00:00
location                                            NaN
file_format                                         NaN
light/dark                                          NaN
dt_round                      2017-07-12 16:00:00+00:00
dt_round_2                    2017-07-12 16:00:00+05:30
ppm                                                None
Name: 806, dtype: object

In [48]:
insta = insta.drop(drop_idx)
len(insta)

In [51]:
def classify(x): #x is float
    if x < 12:
        return 0
    elif x < 35.5:
        return 1
    elif x < 55.5:
        return 2
    elif x < 150.5:
        return 3
    elif x < 250.5:
        return 4
    elif x < 350.5:
        return 5
    elif x < 1000:
        return 6
    return -1

insta["class"] = -1
for index, row in insta.iterrows():
    insta.set_value(index,'class',classify(float(row["ppm"])))
insta

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:20: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

,filename,datetime,location,file_format,light/dark,dt_round,dt_round_2,ppm,class
0,50294736_435828830291236_2030158088675541642_n,2019-02-04 03:48:43+00:00,new delhi,jpg,NaN,2019-02-04 03:45:00+00:00,2019-02-04 04:00:00+05:30,131.565,3
1,23279786_148197742578856_6378254909640278016_n,2017-11-08 13:24:15+00:00,NaN,jpg,NaN,2017-11-08 13:30:00+00:00,2017-11-08 13:00:00+05:30,523.673,6
2,23416386_1840710242870758_1418351604486111232_n,2017-11-08 13:24:15+00:00,NaN,jpg,NaN,2017-11-08 13:30:00+00:00,2017-11-08 13:00:00+05:30,523.673,6
3,23279242_754613681413241_2636689794633039872_n,2017-11-08 12:30:04+00:00,NaN,jpg,NaN,2017-11-08 12:30:00+00:00,2017-11-08 13:00:00+05:30,523.673,6
4,23421744_157913204814458_5150676316399337472_n,2017-11-11 02:39:00+00:00,NaN,jpg,NaN,2017-11-11 02:45:00+00:00,2017-11-11 03:00:00+05:30,290.343,5
5,51198988_355397075054377_5019641374815263947_n,2019-02-05 14:53:35+00:00,NaN,jpg,NaN,2019-02-05 15:00:00+00:00,2019-02-05 15:00:00+05:30,108.804,3
6,50099277_167553637558240_7730499617623994488_n,2019-02-04 02:44:08+00:00,Indira Gandhi International Airport,jpg,NaN,2019-02-04 02:45:00+00:00,2019-02-04 03:00:00+05:30,171.27,4
7,49913257_113330583089235_841595261123193185_n,2019-01-23 18:04:41+00:00,NaN,jpg,NaN,2019-01-23 18:00:00+00:00,2019-01-23 18:00:00+05:30,150.923,4
8,49542433_1155606927950825_6038795111288348593_n,2019-01-23 03:50:30+00:00,Times Internet Udyog Vihar,jpg,NaN,2019-01-23 03:45:00+00:00,2019-01-23 04:00:00+05:30,87.9621,3
9,49991714_2043054882453850_8963023353683177368_n,2019-01-18 05:43:39+00:00,delhi,jpg,NaN,2019-01-18 05:45:00+00:00,2019-01-18 06:00:00+05:30,264.876,5
10,49913278_130880537940142_1371110230384623804_n,2019-01-13 14:51:27+00:00,humayun's tomb,jpg,NaN,2019-01-13 14:45:00+00:00,2019-01-13 15:00:00+05:30,160.88,4
11,49674426_165788511060098_1811899467230933893_n,2019-01-19 13:57:20+00:00,"Hall of Girls' Residence , Jamia Millia Islamia.",jpg,NaN,2019-01-19 14:00:00+00:00,2019-01-19 14:00:00+05:30,89.7086,3
12,50221243_764279940631653_8572492637524841816_n,2019-01-11 05:57:14+00:00,kashmiri gate,jpg,NaN,2019-01-11 06:00:00+00:00,2019-01-11 06:00:00+05:30,286.669,5
13,33111051_588800588157670_106150318584102912_n,2018-10-21 05:29:55+00:00,presidential palace,jpg,NaN,2018-10-21 05:30:00+00:00,2018-10-21 05:00:00+05:30,202.745,4
14,43334332_548179492308876_6076808572150598356_n,2018-10-21 05:29:55+00:00,presidential palace,jpg,NaN,2018-10-21 05:30:00+00:00,2018-10-21 05:00:00+05:30,202.745,4
15,43641324_173561880216863_8887864598804783859_n,2018-10-21 05:29:55+00:00,presidential palace,jpg,NaN,2018-10-21 05:30:00+00:00,2018-10-21 05:00:00+05:30,202.745,4
16,47585855_2258519227526743_8288301544979003830_n,2019-01-05 11:49:33+00:00,NaN,jpg,NaN,2019-01-05 11:45:00+00:00,2019-01-05 12:00:00+05:30,171.511,4
17,47584888_1936677879960412_4711025511438657930_n,2019-01-05 01:51:45+00:00,gurgram,jpg,NaN,2019-01-05 01:45:00+00:00,2019-01-05 02:00:00+05:30,362.711,6
18,47691928_2377887122284056_1240473084924541961_n,2018-12-31 04:07:12+00:00,noida,jpg,NaN,2018-12-31 04:00:00+00:00,2018-12-31 04:00:00+05:30,387.645,6
19,47251926_2275121872725141_8876487587024403325_n,2018-12-30 16:32:30+00:00,red fort,jpg,NaN,2018-12-30 16:30:00+00:00,2018-12-30 17:00:00+05:30,137.719,3
20,47690482_339623213294303_4586153246415710373_n,2018-12-30 11:14:52+00:00,NaN,jpg,NaN,2018-12-30 11:15:00+00:00,2018-12-30 11:00:00+05:30,256.391,5
21,47690165_359358741520957_2102260448054724285_n,2018-12-30 05:15:24+00:00,yamuna ghat,jpg,NaN,2018-12-30 05:15:00+00:00,2018-12-30 05:00:00+05:30,407.25,6
22,47691126_267151950645401_1879503487950769794_n,2018-12-27 11:34:51+00:00,delhi,jpg,NaN,2018-12-27 11:30:00+00:00,2018-12-27 12:00:00+05:30,153.669,4
23,47413444_549122462270640_7977367395053665105_n,2018-12-26 13:38:23+00:00,NaN,jpg,NaN,2018-12-26 13:45:00+00:00,2018-12-26 14:00:00+05:30,99.45,3
24,47253026_157163518610448_2136220676494070664_n,2018-12-24 06:04:33+00:00,NaN,jpg,NaN,2018-12-24 06:00:00+00:00,2018-12-24 06:00:00+05:30,389.712,6
25,46998510_206521503586037_3878657321517107544_n,2018-12-13 12:18:04+00:00,NaN,jpg,NaN,2018-12-13 12:15:00+00:00,2018-12-13 12:00:00+05:30,87.6686,3
26,45373965_1982156752085106_8697580131113317824_n,2018-12-12 13:23:06+00:00,NaN,jpg,NaN,2018-12-12 13:30:00+00:00,2018-12-12 13:00:00+05:30,119.989,3
27,46067493_371960743551181_4040623030405411941_n,2018-12-12 05:23:02+00:00,india gate,jpg,NaN,2018-12-12 05:30:00+00:00,2018-12-12 05:00:00+05:30,276.75,5
28,47219622_261220294574793_6193328775400110353_n,2018-12-10 12:03:31+00:00,NaN,jpg,NaN,2018-12-10 12:00:00+00:00,2018-12-10 12:00:00+05:30,240.144,4
29,45708790_321772681751115_7004312453055134850_n,2018-12-04 11:45:49+00:00,NaN,jpg,NaN,2018-12-04 11:45:00+00:00,2018-12-04 12:00:00+05:30,181.052,4
...,...,...,...,...,...,...,...,...,...
2354,41405288_1371374499660316_6484544909150781440_...,2018-09-13 20:19:46+00:00,NaN,jpg,NaN,2018-09-13 20:15:00+00:00,2018-09-13 20:00:00+05:30,33.5785,1
2355,41405288_1371374499660316_6484544909150781440_...,2018-09-13 20:19:46+00:00,NaN,jpg,NaN,2018-09-13 20:15:00+00:00,2018-09-13 20:00:00+05:30,33.5785,1
2356,41405288_1371374499660316_6484544909150781440_...,2018-09-13 20:19:46+00:00,NaN,jpg,NaN,2018-09-13 20:15:00+00:00,2018-09-13 20:00:00+05:30,33.5785,1
2357,41405288_1371374499660316_6484544909150781440_...,2018-09-13 20:19:46+00:00,NaN,jpg,NaN,2018-09-13 20:15:00+00:00,2018-09-13 20:00:00+05:30,33.5785,1
2358,41405288_1371374499660316_6484544909150781440_...,2018-09-13 20:19:46+00:00,NaN,jpg,NaN,2018-09-13 20:15:00+00:00,2018-09-13 20:00:00+05:30,33.5785,1
2359,41405288_1371374499660316_6484544909150781440_...,2018-09-13 20:19:46+00:00,NaN,jpg,NaN,2018-09-13 20:15:00+00:00,2018-09-13 20:00:00+05:30,33.5785,1
2360,41405288_1371374499660316_6484544909150781440_...,2018-09-13 20:19:46+00:00,NaN,jpg,NaN,2018-09-13 20:15:00+00:00,2018-09-13 20:00:00+05:30,33.5785,1
2361,41405288_1371374499660316_6484544909150781440_...,2018-09-13 20:19:46+00:00,NaN,jpg,NaN,2018-09-13 20:15:00+00:00,2018-09-13 20:00:00+05:30,33.5785,1
2362,41405288_1371374499660316_6484544909150781440_...,2018-09-13 20:19:46+00:00,NaN,jpg,NaN,2018-09-13 20:15:00+00:00,2018-09-13 20:00:00+05:30,33.5785,1
2363,41405288_1371374499660316_6484544909150781440_...,2018-09-13 20:19:46+00:00,NaN,jpg,NaN,2018-09-13 20:15:00+00:00,2018-09-13 20:00:00+05:30,33.5785,1
2364,41405288_1371374499660316_6484544909150781440_...,2018-09-13 20:19:46+00:00,NaN,jpg,NaN,2018-09-13 20:15:00+00:00,2018-09-13 20:00:00+05:30,33.5785,1
2365,41405288_1371374499660316_6484544909150781440_...,2018-09-13 20:19:46+00:00,NaN,jpg,NaN,2018-09-13 20:15:00+00:00,2018-09-13 20:00:00+05:30,33.5785,1
2366,41405288_1371374499660316_6484544909150781440_...,2018-09-13 20:19:46+00:00,NaN,jpg,NaN,2018-09-13 20:15:00+00:00,2018-09-13 20:00:00+05:30,33.5785,1
2367,41405288_1371374499660316_6484544909150781440_...,2018-09-13 20:19:46+00:00,NaN,jpg,NaN,2018-09-13 20:15:00+00:00,2018-09-13 20:00:00+05:30,33.5785,1
2368,41405288_1371374499660316_6484544909150781440_...,2018-09-13 20:19:46+00:00,NaN,jpg,NaN,2018-09-13 20:15:00+00:00,2018-09-13 20:00:00+05:30,33.5785,1
2369,41405288_1371374499660316_6484544909150781440_...,2018-09-13 20:19:46+00:00,NaN,jpg,NaN,2018-09-13 20:15:00+00:00,2018-09-13 20:00:00+05:30,33.5785,1
2370,41405288_1371374499660316_6484544909150781440_...,2018-09-13 20:19:46+00:00,NaN,jpg,NaN,2018-09-13 20:15:00+00:00,2018-09-13 20:00:00+05:30,33.5785,1
2371,41405288_1371374499660316_6484544909150781440_...,2018-09-13 20:19:46+00:00,NaN,jpg,NaN,2018-09-13 20:15:00+00:00,2018-09-13 20:00:00+05:30,33.5785,1
2372,41405288_1371374499660316_6484544909150781440_...,2018-09-13 20:19:46+00:00,NaN,jpg,NaN,2018-09-13 20:15:00+00:00,2018-09-13 20:00:00+05:30,33.5785,1
2373,41405288_1371374499660316_6484544909150781440_...,2018-09-13 20:19:46+00:00,NaN,jpg,NaN,2018-09-13 20:15:00+00:00,2018-09-13 20:00:00+05:30,33.5785,1
2374,41405288_1371374499660316_6484544909150781440_...,2018-09-13 20:19:46+00:00,NaN,jpg,NaN,2018-09-13 20:15:00+00:00,2018-09-13 20:00:00+05:30,33.5785,1
2375,41405288_1371374499660316_6484544909150781440_...,2018-09-13 20:19:46+00:00,NaN,jpg,NaN,2018-09-13 20:15:00+00:00,2018-09-13 20:00:00+05:30,33.5785,1
2376,41405288_1371374499660316_6484544909150781440_...,2018-09-13 20:19:46+00:00,NaN,jpg,NaN,2018-09-13 20:15:00+00:00,2018-09-13 20:00:00+05:30,33.5785,1
2377,41405288_1371374499660316_6484544909150781440_...,2018-09-13 20:19:46+00:00,NaN,jpg,NaN,2018-09-13 20:15:00+00:00,2018-09-13 20:00:00+05:30,33.5785,1
2378,41405288_1371374499660316_6484544909150781440_...,2018-09-13 20:19:46+00:00,NaN,jpg,NaN,2018-09-13 20:15:00+00:00,2018-09-13 20:00:00+05:30,33.5785,1
2379,41405288_1371374499660316_6484544909150781440_...,2018-09-13 20:19:46+00:00,NaN,jpg,NaN,2018-09-13 20:15:00+00:00,2018-09-13 20:00:00+05:30,33.5785,1
2380,41405288_1371374499660316_6484544909150781440_...,2018-09-13 20:19:46+00:00,NaN,jpg,NaN,2018-09-13 20:15:00+00:00,2018-09-13 20:00:00+05:30,33.5785,1
2381,41405288_1371374499660316_6484544909150781440_...,2018-09-13 20:19:46+00:00,NaN,jpg,NaN,2018-09-13 20:15:00+00:00,2018-09-13 20:00:00+05:30,33.5785,1
2382,41405288_1371374499660316_6484544909150781440_...,2018-09-13 20:19:46+00:00,NaN,jpg,NaN,2018-09-13 20:15:00+00:00,2018-09-13 20:00:00+05:30,33.5785,1
2383,41405288_1371374499660316_6484544909150781440_...,2018-09-13 20:19:46+00:00,NaN,jpg,NaN,2018-09-13 20:15:00+00:00,2018-09-13 20:00:00+05:30,33.5785,1

In [52]:
insta['class'].unique()

array([3, 6, 5, 4, 2, 0, 1])

* TODO: beijing/shanghai/arizona data, beijing tourism data
* TODO: pass through LeNet
* TODO: some basic preprocessing then LeNet
* TODO: visualizations of poll data would be nice

In [53]:
insta.to_csv('../delhi_data.csv',index=False)