In [3]:
import pandas as pd

delhi = pd.read_csv('../delhi_data_ed.csv')
delhi['datetime'] = pd.to_datetime(delhi['datetime'])
print(len(delhi))
delhi.head()

2120

,filename,datetime,location,file_format,light/dark,dt_round,dt_round_2,ppm,class
0,50294736_435828830291236_2030158088675541642_n,2019-02-04 03:48:43+00:00,new delhi,jpg,NaN,2019-02-04 03:45:00+00:00,2019-02-04 04:00:00+05:30,131.565000,3
1,23279786_148197742578856_6378254909640278016_n,2017-11-08 13:24:15+00:00,NaN,jpg,NaN,2017-11-08 13:30:00+00:00,2017-11-08 13:00:00+05:30,523.672857,6
2,23416386_1840710242870758_1418351604486111232_n,2017-11-08 13:24:15+00:00,NaN,jpg,NaN,2017-11-08 13:30:00+00:00,2017-11-08 13:00:00+05:30,523.672857,6
3,23279242_754613681413241_2636689794633039872_n,2017-11-08 12:30:04+00:00,NaN,jpg,NaN,2017-11-08 12:30:00+00:00,2017-11-08 13:00:00+05:30,523.672857,6
4,23421744_157913204814458_5150676316399337472_n,2017-11-11 02:39:00+00:00,NaN,jpg,NaN,2017-11-11 02:45:00+00:00,2017-11-11 03:00:00+05:30,290.342500,5

In [7]:
delhi["light/dark"].unique()

array([nan, 'd', 'dark'], dtype=object)

In [24]:
import datetime

delhi["datetime"].loc[delhi["datetime"]=="2019-02-04 03:48:43+00:00"][0].date() #> datetime.time(3,50)

datetime.date(2019, 2, 4)

In [31]:
for index,row in delhi.iterrows():
    current_time = row["datetime"].time()
    current = row["datetime"]
    if isinstance(row["light/dark"], str):
        if current_time > datetime.time(7,0) and current_time < datetime.time(17,0):
            #print("dark")
            #print(current)
            #print(current-datetime.timedelta(hours=12))
            delhi.set_value(index,'datetime',current-datetime.timedelta(hours=12))
    else:
        if current_time > datetime.time(21,0) or current_time < datetime.time(4,0):
            #print("light")
            #print(current)
            #print(current-datetime.timedelta(hours=12))
            delhi.set_value(index,'datetime',current-datetime.timedelta(hours=12))

print(len(delhi))

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:15: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  from ipykernel import kernelapp as app
/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:9: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  if __name__ == '__main__':

2120

In [32]:
#save
delhi.to_csv('../delhi_data_2.csv',index=False)